.button {

  color: $txt-c-light;
  background-color: $bgc-accent;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  
  cursor: pointer;
}

.hero-button{
  display: inline-block;
  text-align: center;
}

.subscribe__btn {
  display: flex;
  text-align: left;
  align-items: center;

  box-shadow: 0px 4px 4px $btn-boxshadow-color;
  padding: 0 29px;
  position: relative;
  margin: 0 auto 60px auto;

  

  @media screen and (min-width:1200px){
    margin-bottom: 0;
    margin-left: 12px;
  }

}

.modal__submit-btn {
  display: block;

  box-shadow: 0px 4px 4px $btn-boxshadow-color;

  margin-left: auto;
  margin-right: auto;
}