.clients-container{
  max-width: 480px;

  @media screen and (min-width: 768px) {
    max-width: 768px;  
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }

}


.clients-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  

  padding-bottom: 60px;
  margin: -30px auto 0 auto;

  
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    max-width: 1200px;
  }
}


.clients-list__item{
  margin-top: 30px;
}

.clients-list__logo {
  fill: currentColor;
}

.clients-list__link {
  display: flex;
  color: $social-color;
  border: 1px solid $social-color;

  width: 210px;
  height: 90px;

  justify-content: center;
  align-items: center;

  border-radius: 4px;

  @media screen and (min-width:768px){
    width: 226px;
  }  

  @media screen and (min-width:1200px){
    width: 170px;
  }  

  transition: color $transiton-time $cubic, border $transiton-time $cubic;
  
  &:hover,
  &:focus {
    color: $txt-c-accent;
    border: 1px solid $txt-c-accent;
  
    transition: color $transiton-time $cubic, border $transiton-time $cubic;
  }
}
